﻿@model MyForum.Models.Subject

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h4>@Model.User</h4>
\

<h4>Тема:  @Model.SubjectName</h4><br />
<h5>Описание :   @Model.Content</h5>
<h6>@Model.Date</h6>
<div id="com" >
    <table id="messages">
        @foreach (var message in Model.Messages)
        {
            <tr>
                <td style="padding: 7px">
                    @message.User.UserName<br />
                    @message.Date.ToShortDateString()
                </td>
                <td>
                    @message.Content
                </td>
            </tr>

        }
    </table>

</div>
@if (User.Identity.IsAuthenticated)
{

    <div id="postdiv">
        <textarea id="posttext"></textarea>
        <input type="button" onclick="sendComment('@Model.Id', '@User.Identity.Name')" value="Отправить" />
    </div>
}
@section Scripts{
    <script>

        function openCommentForm(subjectId) {
            $('#postdiv' + subjectId).show();
        }

        function sendComment(subjectId, userName) {
            $.ajax({
                url: '@Url.Action("Create", "Message")',
                type: 'POST',
                data: { 'subjectId': subjectId, 'userName': userName, 'content': $('#posttext').val() },
                success: function(data) {
                    //var a = JSON.parse(data);
                    //console.log(a)
                    var str = '<tr><td style="padding: 7px">' + data.author + '<br/>' + data.date + '</td><td>' + data.content + '</td></tr>'
                    console.log(data)
                    $('#messages').append(str);
                },
                error: function() {
                    console.log('Ошибка во время отправки комментария');
                }
            });
        }


    </script>
}