﻿@model IEnumerable<MyForum.Models.Subject>
@{
    ViewData["Title"] = "Subjects";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Subjects</h2>

<input type="text" id="name" name="name"/>
<input type="submit" id="submit" name="search" />



@section Scripts{
    <script>

     $(document).ready(function () {
            $('#submit').click(function (e) {
                e.preventDefault();
                var name = $('#name').val();
                searchKey = encodeURIComponent(name);
                $('#results').load('@Url.Action("SubjectSearch", "Subject")?name=' +   name);
            });
        });

</script>
    }

<div  id="results"></div>


<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SubjectName)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.SubjectName)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.UserName)
                </td>
                <td>
                    <a asp-action="Index" asp-controller="Subject" asp-route-subjectId="@item.Id">Посмотреть</a> 

                </td>
            </tr>
        }
    </tbody>
</table>
