﻿@model IEnumerable<MyForum.Models.Subject>

  

    <ul>
        @foreach (var item in Model)
        {
            <li>
                <a asp-action="Index" asp-controller="Subject" asp-route-subjectId="@item.Id"> @item.SubjectName</a>
            </li>

        }
    </ul>
