﻿@model MyForum.Models.Subject

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<select class="form-control">
    <option></option>
    <option></option>
    <option></option>
</select>
